

.product > img {
    width: 100%;
}


.product {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.productPage {
    width: 90%;
    margin: auto;
}